[Unit]
Description=CcspXconfConfig service

After=utopiaSshd.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/lib/rdk/dcm.service &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=pam-initialized.target
