[Unit]
Description=CcspCMAgentSsp service

After=CcspPandMSsp.service CcspMtaAgentSsp.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
WorkingDirectory=/usr/ccsp/cm
ExecStart=/usr/bin/CcspCMAgentSsp -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspCMAgentSsp" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
