[Unit]
Description=CcspWecbController service

After=CcspPandMSsp.service

[Service]
Type=forking
PIDFile=/var/tmp/CcspWecbController.pid
WorkingDirectory=/usr/ccsp/wecb
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/CcspWecbController -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspWecbController" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
