[Unit]
Description=CcspTr069PaSsp service
After=dbusOverride.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
CcspWecbController.service ccspwifiagent.service emailNotificationMonitor.service CcspMtaAgentSsp.service \
CcspCMAgentSsp.service
Requires=CcspCrSsp.service

[Service]
Type=forking
Environment="Subsys=eRT."
WorkingDirectory=/usr/ccsp/tr069pa
ExecStart=/usr/bin/CcspTr069PaSsp -subsys $Subsys
ExecStartPost=/bin/sh -c 'sysevent setunique GeneralPurposeFirewallRule " -A INPUT -i erouter0 -p tcp --dport=7547 -j ACCEPT "'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
