[Unit]
Description=CcspMtaAgentSsp service

After=CcspPandMSsp.service notifyComp.service

[Service]
Type=forking
PIDFile=/var/tmp/CcspMtaAgent.pid
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
WorkingDirectory=/usr/ccsp/mta
ExecStart=/usr/bin/CcspMtaAgentSsp -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspMtaAgentSsp" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
