[Unit]
Description=CcspPandMSsp service

After=PsmSsp.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/pam
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
ExecStart=/usr/bin/CcspPandMSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=ccspCr-started.target
