[Unit]
Description=CcspWecbController service

After=CcspPandMSsp.service

[Service]
Type=forking
PIDFile=/var/tmp/CcspWecbController.pid
WorkingDirectory=/usr/ccsp/wecb
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
ExecStart=/usr/bin/CcspWecbController -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
