[Unit]
Description=CcspTelemetry service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'sleep 300'
ExecStart=/bin/sh -c '/lib/rdk/dcm.service &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=wan-initialized.target
