[Unit]
Description=CcspXdnsSsp service

After=CcspPandMSsp.service CcspTandDSsp.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
WorkingDirectory=/usr/ccsp/xdns
ExecStart=/usr/bin/CcspXdnsSsp -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspXdnsSsp" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
