[Unit]
Description=CcspEPONAgentSsp service

After=CcspEthAgent.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/epon
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/CcspEPONAgentSsp -subsys $Subsys
ExecStopPost=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspEPONAgentSsp" >> ${PROCESS_RESTART_LOG}'
Restart=always
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
