[Unit]
Description=CcspPandMSsp service

After=PsmSsp.service

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/tmp/CcspPandMSsp.pid
WorkingDirectory=/usr/ccsp/pam
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStartPre=/bin/sh -c '(/usr/ccsp/utopiaInitCheck.sh)'
ExecStart=/usr/bin/CcspPandMSsp -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspPandMSsp" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
