[Unit]
Description=CcspLMLite service

After=CcspEthAgent.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/lm
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/CcspLMLite -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspLMLite" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=wifi-initialized.target
