[Unit]
Description=CcspLMLite service

After=CcspTr069PaSsp.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/lm
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
ExecStart=/usr/bin/CcspLMLite -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=wifi-initialized.target
