[Unit]
Description=CcspMtaAgentSsp service

After=notifyComp.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
WorkingDirectory=/usr/ccsp/mta
ExecStart=/usr/bin/CcspMtaAgentSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=pam-initialized.target
