[Unit]
Description=CcspTandDSsp service

After=CcspPandMSsp.service CcspMoca.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
WorkingDirectory=/usr/ccsp/tad
ExecStart=/usr/bin/CcspTandDSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
