[Unit]
Description=CcspTr069PaSsp service

After=harvester.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
WorkingDirectory=/usr/ccsp/tr069pa
ExecStart=/usr/bin/CcspTr069PaSsp -subsys $Subsys
ExecStartPost=/bin/sh -c 'sysevent setunique GeneralPurposeFirewallRule " -A INPUT -i erouter0 -p tcp --dport=7547 -j ACCEPT "'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=wifi-initialized.target
