[Unit]
Description=CcspTr069PaSsp service
After=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service ccspwifiagent.service wifiinitialized.service \
emailNotificationMonitor.service CcspMtaAgentSsp.service

Requires=CcspCrSsp.service
Wants=dbus.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service ccspwifiagent.service wifiinitialized.service \
emailNotificationMonitor.service CcspMtaAgentSsp.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
WorkingDirectory=/usr/ccsp/tr069pa
ExecStartPre=/bin/sh -c 'sleep 40'
ExecStart=/usr/bin/CcspTr069PaSsp -subsys $Subsys
ExecStartPost=/bin/sh -c 'sysevent setunique GeneralPurposeFirewallRule " -A INPUT -i erouter0 -p tcp --dport=7547 -j ACCEPT "'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
