[Unit]
Description=CcspSafeNatBroadband service

After=webpa.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
WorkingDirectory=/usr/ccsp/ccsp-safenat-broadband
ExecStart=/usr/bin/CcspSafeNAT -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=wifi-initialized.target
