[Unit]
Description=CcspCrSsp service

After=dbus.service
Wants=dbus.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp
Environment="Subsys=eRT."
ExecStartPre=/bin/sh -c 'sleep 50'
ExecStartPre=-/bin/sh -c '/usr/ccsp/ccspSysConfigEarly.sh &'
ExecStart=/usr/bin/CcspCrSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
