[Unit]
Description=Cosa service
After=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service harvester.service

Requires=CcspCrSsp.service
Wants=dbus.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service harvester.service

[Service]
Type=simple
WorkingDirectory=/usr/ccsp
ExecStart=/bin/sh -c '/usr/ccsp/wifi/cosa_start_wifiagent.sh &' 
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target

