[Unit]
Description=CcspPandMSsp service

After=PsmSsp.service

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/tmp/CcspPandMSsp.pid
WorkingDirectory=/usr/ccsp/pam
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
ExecStart=/usr/bin/CcspPandMSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
