[Unit]
Description=CcspXconf service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'sleep 300'
ExecStart=/bin/sh -c '/etc/xb6_firmwareDwnld.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
