[Unit]
Description=CcspWecbController service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/wecb
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
ExecStart=/usr/bin/CcspWecbController -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=pam-initialized.target
