[Unit]
Description=CcspCMAgentSsp service

After=utopiaSshd.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
WorkingDirectory=/usr/ccsp/cm
ExecStart=/usr/bin/CcspCMAgentSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=pam-initialized.target
