[Unit]
Description=CcspCMAgentSsp service
After=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service emailNotificationMonitor.service CcspMtaAgentSsp.service

Requires=CcspCrSsp.service
Wants=dbus.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service emailNotificationMonitor.service CcspMtaAgentSsp.service

[Service]
Type=forking
Environment="Subsys=eRT."
WorkingDirectory=/usr/ccsp/cm
ExecStart=/usr/bin/CcspCMAgentSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
