[Unit]
Description=CcspMtaAgentSsp service
After=dbusOverride.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service emailNotificationMonitor.service

Requires=CcspCrSsp.service
Wants=paminitialized.service

[Service]
Type=forking
Environment="Subsys=eRT."
WorkingDirectory=/usr/ccsp/mta
ExecStart=/usr/bin/CcspMtaAgentSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
