[Unit]
Description=CcspWebUI service
After=dbusOverride.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service ccspwifiagent.service emailNotificationMonitor.service \
CcspMtaAgentSsp.service CcspTr069PaSsp.service CcspTandDSsp.service webpa.service

Requires=CcspCrSsp.service
Wants=paminitialized.service

[Service]
Type=oneshot
WorkingDirectory=/usr/www
ExecStart=/bin/sh -c '/etc/webgui.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
