[Unit]
Description=CcspTelcoVoipAgent service

After=CcspCrSsp.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
WorkingDirectory=/usr/ccsp/voipagent
ExecStart=/usr/ccsp/voipagent/telcovoip_agent -subsys eRT.
ExecStopPost=/bin/sh -c 'echo "`date`: Stopping/Restarting CcspTelcoVoipAgent" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
