[Unit]
Description=Cosa-start-rem service

Requires=cosastart.service
After=cosastart.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp
ExecStartPre=/bin/sh -c 'sleep 20'
ExecStart=/bin/sh -c '/usr/ccsp/cosa_start_rem.sh &'
RemainAfterExit=yes
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
