[Unit]
Description=CcspCrSsp Restart Service

[Service]
Type=simple
ExecStart=/bin/sh -c '(/usr/ccsp/crResetCheck.sh)'

StandardOutput=syslog+console
