[Unit]
Description=Dbus Override service
Before=CcspCrSsp.service PsmSsp.service CcspPandMSsp.service CcspWecbController.service \
CcspWebUI.service CcspCMAgentSsp.service CcspMtaAgentSsp.service CcspTr069PaSsp.service CcspXconf.service

[Service]
Type=oneshot
WorkingDirectory=/usr/ccsp
ExecStart=/bin/sh -c '/usr/ccsp/dbusConf.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
