[Unit]
Description=emailNotificationMonitor service

After=CcspPandMSsp.service notifyComp.service

[Service]
Type=simple
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
WorkingDirectory=/usr/ccsp/pam
ExecStartPre=-/bin/sh -c '/usr/ccsp/ccspSysConfigLate.sh &'
ExecStart=/bin/sh -c '(/usr/ccsp/pam/email_notification_monitor.sh 12 &)&'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=ccspCr-started.target
