[Unit]
Description=Gwprovapp service

Requires=ncpu-exec.service
Wants=rpcbind.service systemd-rpc_up_and_running-puma7.service
After=ncpu-exec.service rpcbind.service systemd-rpc_up_and_running-puma7.service

[Service]
Environment="IP=192.168.254.253"
ExecStart=/usr/bin/gw_prov_utopia $IP
Restart=always
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target

