[Unit]
Description=harvester service

After=CcspPandMSsp.service notifyComp.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/harvester
ExecStart=/usr/bin/harvester
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
