[Unit]
Description=harvester service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/harvester
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/harvester
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting harvester" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=wifi-initialized.target
