[Unit]
Description=harvester service

After=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service

Requires=CcspCrSsp.service
Wants=dbus.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/harvester
ExecStart=/usr/bin/harvester
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
