#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description= Log Dmesg
After=CcspMtaAgentSsp.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sh -c 'sleep 120'
ExecStart=/rdklogger/update_journal_log.sh start
ExecStop=/rdklogger/update_journal_log.sh stop
#StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
