[Unit]
Description=CcspLogent service

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/tmp/log_agent.pid
WorkingDirectory=/usr/ccsp/logagent
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/log_agent -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting log_agent" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog

[Install]
WantedBy=multi-user.target
