[Unit]
Description=Notify Comp service

After=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service

Requires=CcspCrSsp.service
Wants=dbus.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/notify-comp
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
ExecStart=/usr/bin/notify_comp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
