[Unit]
Description=Notify Comp service

After=CcspPandMSsp.service CcspWecbController.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/notify-comp
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
ExecStart=/usr/bin/notify_comp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=ccspCr-started.target
