[Unit]
Description=Pam Initialized service


[Service]
Type=oneshot
ExecStart=/bin/echo "Pam is initialized"
RemainAfterExit=yes

StandardOutput=syslog
