[Unit]
Description=parodus service

After=CcspPandMSsp.service

[Service]
Type=forking
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
WorkingDirectory=/usr/ccsp/parodus
ExecStartPre=/bin/sh -c 'while true; do var=`sysevent get wan-status | grep started`; if [ "$var" != "" ]; then sleep 5; break; fi; sleep 5; done'
ExecStartPre=/usr/bin/parodusStart
Environment="PARODUS_COMMAND=$(/bin/cat /tmp/parodusCmd.cmd)"
ExecStart=/bin/sh -c '${PARODUS_COMMAND} &'
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting parodus" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=wan-initialized.target
