[Unit]
Description=processMonitor service

After=CcspPandMSsp.service CcspXdnsSsp.service

[Service]
Type=simple
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
ExecStart=/bin/sh -c '/etc/process_monitor.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
