[Unit]
Description=PsmSsp service

After=dbusOverride.service CcspCrSsp.service logagent.service
Requires=CcspCrSsp.service

[Service]
Type=forking
WorkingDirectory=/usr/ccsp
Environment="Subsys=eRT."
ExecStart=/usr/bin/PsmSsp -subsys $Subsys
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
