[Unit]
Description=PsmSsp service
After=gwprovapp.service CcspCrSsp.service

[Service]
Type=forking
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
WorkingDirectory=/usr/ccsp
ExecStart=/usr/bin/PsmSsp -subsys $Subsys
ExecStop=/bin/kill -15 $MAINPID
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
