[Unit]
Description=PsmSsp service

After=CcspCrSsp.service logagent.service

[Service]
Type=notify
NotifyAccess=main
PIDFile=/var/tmp/PsmSsp.pid
WorkingDirectory=/usr/ccsp
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/PsmSsp -subsys $Subsys
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting PsmSsp" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
