[Unit]
Description=Random file upload service

After=ncpu-exec.service dbusOverride.service CcspSysConfig.service rdkbLogMonitor.service

[Service]
Type=oneshot
ConditionPathExists=/rdklogger/fileUploadRandom.sh
ExecStart=/bin/sh -c '/rdklogger/fileUploadRandom.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
