[Unit]
Description=Random file upload service

After=dbus.service rdkbLogMonitor.service
Wants=dbus.service rdkbLogMonitor.service
ConditionPathExists=/rdklogger/fileUploadRandom.sh

[Service]
Type=simple
ExecStart=/bin/sh -c '/rdklogger/fileUploadRandom.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
