[Unit]
Description=rdkbLogMonitor service

After=logagent.service dbus.service
ConditionPathExists=/rdklogger/rdkbLogMonitor.sh

[Service]
Type=simple
ExecStart=/bin/sh -c '/rdklogger/rdkbLogMonitor.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
