[Unit]
Description=rdkbLogMonitor service

After=ncpu-exec.service dbusOverride.service
ConditionPathExists=/rdklogger/rdkbLogMonitor.sh

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/rdklogger/rdkbLogMonitor.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
