[Unit]
Description=RdkTelcoVoiceManager service

After=CcspCrSsp.service

[Service]
Type=forking
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
WorkingDirectory=/usr/rdk/voicemanager
ExecStart=/usr/bin/telcovoice_manager -subsys eRT.
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting TelcoVoiceManager" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
