[Unit]
Description=SNMP Subagent service
After=CcspCrSsp.service

[Service]
Type=simple
PIDFile=/var/tmp/snmp_subagent.pid
EnvironmentFile=/etc/device.properties
Environment="LOG4C_RCPATH=/etc"
Environment="SNMPDLMODPATH=$PWD/libs\"
Environment="MIBDIRS=$PWD/mibs"
Environment="MIBS=ALL"
WorkingDirectory=/usr/ccsp/snmp
#Note: Don't Uncomment Below Line: Each Device needs a conf file to attach to SNMP Master
#ExecStart=/usr/bin/snmp_subagent -x tcp:192.168.254.253:705
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting snmp_subagent" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
