[Unit]
Description=SNMP Subagent service

[Service]
Type=simple
EnvironmentFile=-/etc/device.properties
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
WorkingDirectory=/usr/ccsp/snmp
ExecStart=/bin/sh -c '/usr/ccsp/snmp/run_subagent.sh $CCSP_SNMP_AGENT_COM &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=wan-initialized.target
