##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2018 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
[Unit]
Description=SNMP Subagent service
After=snmpd.service 
Requires=snmpd.service

[Service]
Type=simple
PIDFile=/var/tmp/snmp_subagent_2.pid
EnvironmentFile=/etc/device.properties
Environment="LOG4C_RCPATH=/etc"
Environment="SNMPDLMODPATH=$PWD/libs\"
Environment="MIBDIRS=$PWD/mibs"
Environment="MIBS=ALL"
WorkingDirectory=/usr/ccsp/snmp
#Note: Don't Uncomment Below Line: Each Device needs a conf file to attach to SNMP Master
ExecStart=/usr/bin/snmp_subagent -x /var/tmp/cm_snmp_ma_2
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting snmp_subagent" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
