[Unit]
Description=utopiaSshd service

After=CcspPandMSsp.service CcspMtaAgentSsp.service

[Service]
Type=simple
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
ExecStart=/bin/sh -c '/etc/utopia/service.d/service_sshd.sh sshd-start &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=ccspCr-started.target
