[Unit]
Description=utopiaSshd service
After=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service emailNotificationMonitor.service \
CcspMtaAgentSsp.service CcspTr069PaSsp.service CcspTandDSsp.service webpa.service CcspLMLite.service

Wants=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service emailNotificationMonitor.service \
CcspMtaAgentSsp.service CcspTr069PaSsp.service CcspTandDSsp.service webpa.service CcspLMLite.service

[Service]
Type=simple
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
ExecStart=/bin/sh -c '/etc/utopia/service.d/service_sshd.sh sshd-start &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
