[Unit]
Description=webpa service

After=notifyComp.service

[Service]
Type=simple
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
ExecStart=/bin/sh -c '/usr/ccsp/webpa.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=pam-initialized.target
