[Unit]
Description=webpa service
After=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service ccspwifiagent.service \
wifiinitialized.service emailNotificationMonitor.service CcspMtaAgentSsp.service \
CcspTr069PaSsp.service CcspTandDSsp.service

Wants=dbus.service CcspCrSsp.service logagent.service PsmSsp.service CcspPandMSsp.service \
paminitialized.service CcspWecbController.service notifyComp.service ccspwifiagent.service \
wifiinitialized.service emailNotificationMonitor.service CcspMtaAgentSsp.service \
CcspTr069PaSsp.service CcspTandDSsp.service

[Service]
Type=simple
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
ExecStart=/bin/sh -c '/usr/ccsp/webpa.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
