[Unit]
Description=wifiHealth service

After=processMonitor.service

[Service]
Type=simple
EnvironmentFile=/etc/utopia/service.d/log_env_var.sh
Environment="Subsys=eRT."
ExecStart=/bin/sh -c '/usr/ccsp/wifi/wifihealth.sh &'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=wifi-initialized.target
