[Unit]
Description=Wifi Initialized Service


[Service]
Type=oneshot
ExecStart=/bin/echo "Wifi is initialized"
RemainAfterExit=yes

StandardOutput=syslog
