[Unit]
Description=Cosa service
After=arris-wlan-rpc.service

[Service]
ExecStart=/etc/ccsp/cosa start
ExecStop=/etc/ccsp/cosa stop
RemainAfterExit=yes
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target

