[Unit]
Description= This the Systemd service file for GS

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/profile
ExecStart=/usr/sbin/telnetd
ExecStart=/sbin/portmap

[Install]
WantedBy=multi-user.target
